{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}                    {# call parent => base.html.twig title #}
    The best cars in the Internet !!  {# <override base.html.twig  #}
{% endblock %}
{% block body %}
    <h1>Our Offers</h1>
    <div class="pull-right">
        {{ form_start(form, {attr: {class: 'form-inline'}}) }}    {# https://symfony.com/doc/current/reference/forms/twig_reference.html #}
        {# The second argument to form_widget() is an array of variables.
           The most common variable is attr, which is an array of HTML attributes to apply to the HTML widget. #}
        {{ form_widget(form.search, {attr: {placeholder: 'Search'}}) }}     {# form.search override search label #}
        <button type="submit" class="btn btn-default">Search</button>
        {{ form_end(form) }}
        <br/>
    </div>
    <table class="table">
        <tr>
            <th>Make</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {# for loop statement in twig #}
        {% for car in cars %}
            <tr>
                <td>{{ car.make.name }}</td>
                <td>{{ car.model.name }}</td>
                <td><a href="{{ url('show_car', {id: car.id}) }}">Show details</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

